# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site title and description
title:              UI Testing Academy
description:        UI Testing related content
lang:               en

# Site subpath, e.g. /blog
baseurl:            "/ui-testing"

# Permalink URLs structure, for permalink style options see: https://jekyllrb.com/docs/permalinks/
permalink:          /:categories/:title/

# Site base hostname & protocol, e.g. http://example.com
url:                

# Site logo # e.g. logo.png, upload logo image file to /uploads/ folder
logo: logo.svg    
  
# Default author settings
author:
    name:           Alex Zhukovich
    title:          Android Engineer  
    avatar:         avatar/alex_zhukovich.png

# Author settings, displayed on post and doc pages if front matter references author name e.g. author: peter
authors:
    alex_zhukovich:
      name:         Alex Zhukovich
      title:        Android Engineer     
      avatar:       avatar/alex_zhukovich.png
    
    robert_konarskis:
      name:         Robert Konarskis
      title:        Android Engineer
      avatar:       avatar/robert_konarskis.png

    jonatas_josue_kirsch:
      name:         Jônatas Josué Kirsch
      title:        QA Automation Engineer
      avatar:       avatar/jonatas_josue_kirsch.png

# Social icons displayed in footer
social:
    email:
    website:
    facebook:
    flickr:
    dribbble:
    github:         https://github.com/ui-testing-academy/ui-testing-academy.github.io
    googleplus:
    instagram:
    linkedin:
    pinterest:
    twitter:        https://twitter.com/ui_test_academy?lang=en
    vimeo:
    youtube:

# Social media accounts
social_media_accounts:
    twitter:        ui_test_academy

# Share button
share:
    post:           true # Display share buttons on a post page
    twitter:        true # Enable by adding Twitter handle 
    facebook:       true # Enable by setting true (Facebook handle not required)

header:
  image: header.jpg
  # background: "rgba(0, 0, 0, 0.5)"
  color: light
  search: true

# Default footer image settings
footer:
    copyright:      Made by Alex Zhukovich.

# Disqus comments shortname, requires Disqus account https://disqus.com/
disqus:
    shortname:      # 1234

# Google analytics code, get your code here https://www.google.com/analytics/
google_analytics:

# Pagination Settings
pagination:
  enabled:          true
  per_page:         10
  # permalink: '/page/:num/'
  # title_suffix: ' - page :num'
  # limit: 0
  # sort_field: 'date'
  # sort_reverse: true

# Path to post content assets directory i.e post images, pdfs etc
uploads:            /uploads/

# Build settings
markdown:           kramdown
highlighter:        rouge

plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-gist
  - jekyll-avatar
  - jekyll-paginate-v2
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules

sass:
  style:            compressed

collections:
  faqs:
    output:         false
  changelogs:
    output:         false
  common:
    output:         true
  articles:
    output:         true

# Defaults
defaults:
  # _posts
  - scope:
      path:         ""
      type:         posts
    values:
      layout:       post
  # _pages
  - scope:
      path:         ""
      type:         pages
    values:
      layout:       page
