// Guia Theme Mixins
// ========================================================================

@mixin hook-breadcrumb-item-active() {
  &:hover {
    text-decoration: none;
  }
}

@mixin hook-logo() {
  font-weight: $base-heading-font-weight;
}

@mixin hook-button-misc() {

  // Primary outline
  .uk-button-primary-outline {
    background-color: $button-default-background;
    color: $button-primary-background;
    border: $button-border-width solid $button-primary-background;
  }

  .uk-button-primary-outline:hover,
  .uk-button-primary-outline:focus {
    background-color: $button-primary-background;
    color: $button-primary-hover-color;
    border: $button-border-width solid $button-primary-background;
  }

  .uk-button-primary-outline:active,
  .uk-button-primary-outline.uk-active {
    background-color: $button-primary-background;
    color: $button-primary-active-color;
    border: $button-border-width solid $button-primary-background;
  }

  .uk-light,
  .uk-section-primary,
  .uk-section-secondary {
    .uk-button-primary-outline {
      color: $inverse-global-muted-color;
      border-color: $inverse-global-muted-color;
      background-color: transparent;
    }

    .uk-button-primary-outline:hover,
    .uk-button-primary-outline:focus,
    .uk-button-primary-outline:active,
    .uk-button-primary-outline.uk-active {
      color: $inverse-global-color;
      border-color: $inverse-global-color;
      background-color: transparent;
    }
  }
}

@mixin hook-nav-default-item-hover() {
  text-decoration: underline;
}

@mixin hook-card-misc() {

  .uk-card-category {
    padding: $global-small-gutter 28px 26px;

    +.uk-card-category {
      margin-top: $global-small-gutter;
    }
  }
}

@mixin hook-article-meta() {

  .uk-avatar-small {
    margin-right: 15px;
    max-width: 36px;
  }
}

@mixin hook-article-misc() {
  .uk-article-content {
    font-size: 1.0625rem;
    line-height: 1.8;

    figure img,
    .uk-slideshow-items {
      border: solid 1px $border-xlight;
      box-shadow: $global-medium-box-shadow;
      border-radius: $border-rounded-border-radius;
    }

    figure {
      img+div .uk-overlay-icon {
        color: rgba(255, 255, 255, 0);
      }

      img:hover+div .uk-overlay-icon {
        color: rgba(255, 255, 255, 1);
      }

      figcaption {
        margin-left: 0;

        span {
          padding-right: 20px;
          margin-bottom: -43px;
          margin-top: 20px;
          border-right: solid 2px $global-muted-color;
          font-style: italic;
          font-size: 0.8rem;
          line-height: 1.8;
        }
      }
    }

    blockquote {
      border-left: solid 2px $global-muted-color;
      padding-left: $base-margin-vertical;
      line-height: 1.7;
    }

    figure,
    .uk-slideshow {
      margin-top: $global-medium-margin;
      margin-bottom: $global-medium-margin;
    }

    figure figcaption {
      margin-bottom: $global-medium-margin * 1.8;
    }

    ul:not(#markdown-toc):not(#markdown-toc ul):not(.uk-slideshow-items),
    .uk-alert {
      margin-bottom: $global-medium-margin;
    }

    table {
      margin-top: $global-medium-margin * .7;
      margin-bottom: $global-medium-margin;
    }

    pre,
    blockquote {
      margin-top: $global-medium-margin * .7;
      margin-bottom: $global-medium-margin;
    }

    #markdown-toc {
      padding: 0 0 0 $global-margin;
      border-left: solid 2px #d9dde0;
      list-style: none;
      margin-bottom: $global-medium-margin;

      >li> :last-child {
        margin-bottom: 0;
      }

      ul {
        margin: 0;
        padding-left: $global-margin;
        list-style: none;
      }

      >li:nth-child(n+2),
      >li>ul {
        margin-top: 5px;
      }
    }

    .no_toc {
      margin-top: 0;
      margin-bottom: $global-margin;
    }
  }
}

@mixin hook-table-misc() {
  table {
    font-size: $global-small-font-size;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: $global-medium-margin;

    >tr:not(:first-child),
    >:not(:first-child)>tr,
    >:first-child>tr:not(:first-child) {
      border-top: 1px solid $table-divider-border;
    }

    tbody tr {
      transition: background-color .1s linear;
    }

    th,
    td {
      padding: 10px 12px;
    }

    td {
      vertical-align: top;
    }

    th {
      text-align: left;
      vertical-align: bottom;
    }

    th:first-child,
    td:first-child {
      padding-left: 0;
    }

    th:last-child,
    td:last-child {
      padding-right: 0;
    }
  }
}

@mixin hook-accordion-title() {

  overflow: hidden;
  border: solid 1px $border-light;
  background-color: #fff;
  border-radius: $border-rounded-border-radius;
  padding: 18px 22px;
  font-weight: $base-heading-font-weight;

  &::after {
    content: "";
    width: ($accordion-title-line-height * 1em);
    height: ($accordion-title-line-height * 1em);
    float: right;
    @include svg-fill($internal-accordion-close-image, "#000", $accordion-icon-color);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: $accordion-icon-background-color;
    border-radius: 20px;
  }

  .uk-open>&::after {
    @include svg-fill($internal-accordion-open-image, "#000", $accordion-icon-color);
  }

}

@mixin hook-accordion-content() {
  padding: 22px;
  background-color: $global-default-background;
  border-radius: $border-rounded-border-radius;
  border: solid 1px $border-light;
}

@mixin hook-label() {
  font-weight: $base-heading-font-weight;
}

@mixin hook-section-misc() {

  .uk-section-default+.uk-section-default,
  .uk-section-muted+.uk-section-muted {
    padding-top: 0;
  }
}

@mixin hook-inverse-component-search() {

  .uk-search-input {
    color: $inverse-search-color;
    font-size: $global-medium-font-size;
    font-weight: $base-body-font-weight;
  }

  .uk-search-input:-ms-input-placeholder {
    color: $inverse-search-placeholder-color !important;
  }

  .uk-search-input::placeholder {
    color: $inverse-search-placeholder-color;
  }


  //
  // Icon
  //
  .uk-search .uk-search-icon {
    color: $inverse-search-icon-color;
  }

  .uk-search .uk-search-icon:hover {
    color: $inverse-search-icon-color;
  }

  //
  // Style modifier
  //
  .uk-search-default .uk-search-input {
    background-color: $inverse-search-default-background;
    border-color: transparent;
  }

  .uk-search-default .uk-search-input:focus {
    background-color: $inverse-search-default-focus-background;
    border-color: transparent;
  }

}

@mixin hook-search-misc() {

  .uk-search-default .uk-search-icon~div .uk-search-input {
    padding-left: $global-control-large-height;
  }

  // Search
  #search-hero-results {
    margin: 10px 0 0 0;
    box-shadow: $global-medium-box-shadow;
    border-radius: $border-rounded-border-radius;
    background: #fff;
    font-weight: $base-heading-font-weight;

    li {
      margin: 0;
      line-height: 1.4;
      border-left: solid 1px $border-xlight;
      border-right: solid 1px $border-xlight;

      &.uk-background-muted a {
        color: $global-primary-background;
      }

      &:first-child {
        border-top-left-radius: $border-rounded-border-radius;
        border-top-right-radius: $border-rounded-border-radius;
        border-top: solid 1px $border-xlight;
      }

      &:last-child {
        border-bottom-left-radius: $border-rounded-border-radius;
        border-bottom-right-radius: $border-rounded-border-radius;
        border-bottom: solid 1px $border-xlight;
      }

      a {
        display: block;
        color: $global-secondary-background;

        &:hover {
          text-decoration: none;
        }
      }

      a {
        padding: 18px 36px;
      }

      &.no-results {
        padding: 18px 36px;
      }
    }
  }
}

@mixin hook-list-misc() {

  .uk-list-category {
    width: 100%;

    >li {

      a {
        margin-right: $global-margin;
        display: block;
        position: relative;
      }

      &:first-child {
        padding-top: $list-divider-margin-top;
        border-top: $list-divider-border-width solid $list-divider-border;
      }

      line-height: 1.4em;

      a::after {
        position: absolute;
        right: -25px;
        top: calc(50% - 11px);
        content: "";
        width: 1.4em;
        height: 1.4em;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22%23bbb%22%20stroke-width%3D%221.03%22%20points%3D%227%204%2013%2010%207%2016%22%3E%3C/polyline%3E%0A%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }

      &:last-child {

        a::after {
          display: none;
        }
      }

    }
  }
}

@mixin hook-utility-misc() {

  .uk-container .uk-container-xsmall.uk-padding-large {
    padding: $padding-large-padding;
  }

  @media (min-width: $breakpoint-large) {
    .uk-container .uk-container-xsmall.uk-padding-large {
      padding: $padding-large-padding-l;
    }
  }

  .uk-margin-xsmall-top {
    margin-top: 6px;
  }

  .uk-remove-underline:hover {
    text-decoration: none;
  }

  .hvr-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-forward:active,
  .hvr-forward:focus,
  .hvr-forward:hover {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  .hvr-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .hvr-back:hover,
  .hvr-back:focus,
  .hvr-back:active {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }

  .uk-avatar {
    width: 90px;
  }

  .tm-timeline-entry {
    +.tm-timeline-entry {
      margin-top: $global-medium-margin;
    }
  }

  @media (min-width: $breakpoint-small) {

    .tm-timeline {
      box-sizing: border-box;

      * {
        box-sizing: border-box;
      }

      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(30% - 2px);
        bottom: 0;
        width: $timeline-border-width;
        background: $global-primary-background;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }

    .tm-timeline-entry {
      +.tm-timeline-entry {
        margin-top: $global-large-margin;
      }

      clear: both;
      text-align: left;
      position: relative;

      &:after {
        display: block;
        content: "";
        clear: both;
      }

      .tm-timeline-time {
        float: left;
        width: 30%;
        padding-right: $global-large-margin;
        text-align: right;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          width: $timeline-dot-diameter;
          height: $timeline-dot-diameter;
          border: $timeline-border-width solid $global-primary-background;
          background-color: #fff;
          border-radius: 100%;
          top: 0;
          right: - 14px;
          z-index: 99;
        }

        h5 {
          margin: 3px 0 0;
        }
      }

      .tm-timeline-body {
        float: right;
        width: 70%;
        padding-left: $global-large-margin;
        margin-top: -2px;

        h3 {
          margin: 0 0 15px;

          span {
            padding: 1px 7px;
          }
        }

      }
    }
  }
}
