// Guia Theme Variables
// ========================================================================

// Color
$global-primary-background:                     #583ABC;
$global-color:                                  desaturate(darken($global-primary-background, 5%), 40%);
$global-muted-color:                            desaturate(darken($global-primary-background, 10%), 50%);
$global-muted-background:                       desaturate(lighten($global-primary-background, 50%), 10%);
$global-secondary-background:                   #222;
$global-default-background:                     #fff;
$global-warning-background:                     #fbc418;
$global-success-background:                     #403e56;
$global-danger-background:                      #f0506e;
$base-link-color:                               $global-primary-background;
$base-link-hover-color:                         $global-primary-background;
$link-muted-hover-color:                        $global-color;
$global-inverse-color:                          #fff;
$inverse-global-color:                          $global-inverse-color;
$inverse-global-muted-color:                    rgba($global-inverse-color, .8);
$global-small-gutter:                           28px;
$global-control-large-height:                   60px;
$global-small-box-shadow:                       0 2px 8px rgba($global-primary-background, 0.08);
$global-medium-box-shadow:                      0 5px 15px rgba($global-primary-background, 0.09);

// Font
$global-font-family:                            'Muli', sans-serif;
$global-xxlarge-font-size:                      2rem;    // H1
$global-xlarge-font-size:                       1.8125rem;  // H2
$global-large-font-size:                        1.375rem;   // H3
$global-medium-font-size:                       1.125rem;   // H4
$global-small-font-size:                        0.875rem;
$global-xsmall-font-size:                       0.8125rem;
$global-font-size:                              16px;
$base-body-font-weight:                         300;
$base-heading-font-weight:                      500;
$base-heading-color:                            #000;
$text-lead-font-size:                           1.1875rem;

// Borders
$global-border:                                 desaturate(lighten($global-primary-background, 40%), 10%);
$border-light:                                  lighten($global-primary-background, 46%);
$border-xlight:                                 #f5f5f5;

// Pre & Code
$base-code-font-family:                         Menlo,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,serif;
$base-code-color:                               desaturate($global-primary-background, 20%);
$base-pre-font-size:                            $global-small-font-size;
$base-pre-line-height:                          1.65;
$base-pre-font-family:                          $base-code-font-family;
$base-pre-color:                                $base-code-color;

// Breadcrumbs
$breadcrumb-item-font-size:                     $global-small-font-size;
$breadcrumb-item-color:                         $global-color;
$breadcrumb-item-hover-color:                   $global-color;
$breadcrumb-item-active-color:                  $global-muted-color;
$breadcrumb-item-hover-text-decoration:         underline;
$breadcrumb-divider-color:                      $global-muted-color;

// Container
$container-max-width:                           940px;
$container-xsmall-max-width:                    650px;
$container-small-max-width:                     800px;

// Logo
$logo-font-size:                                1.25rem;

// Buttons
$button-small-font-size:                        $global-xsmall-font-size;
$button-small-padding-horizontal:               20px;
$button-text-transform:                         none;

// Offcanvas 
$offcanvas-bar-background:                      $global-default-background;
$offcanvas-bar-color-mode:                      dark;

// Nav
$nav-default-item-color:                        $global-primary-background;
$nav-default-item-hover-color:                  $global-primary-background;
$nav-default-item-active-color:                 $global-primary-background;
$inverse-nav-parent-icon-color:                 $global-color;
$subnav-item-text-transform:                    none;

// Navbar
$navbar-background:                             transparent;
$navbar-nav-item-height:                        64px;
$navbar-nav-item-font-size:                     $global-small-font-size;
$navbar-nav-item-text-transform:                none;

// Navbar dropdown
$navbar-dropdown-margin:                        1px;
$navbar-dropdown-nav-item-color:                $global-color;
$navbar-dropdown-nav-item-hover-color:          $global-primary-background;
$navbar-dropdown-nav-item-active-color:         $global-primary-background;

// List
$list-divider-margin-top:                       12px;

// Article
$article-meta-font-size: 	                      $global-xsmall-font-size;
$article-meta-line-height:                      1.4;
$article-title-line-height:                     1.4;
$article-title-font-size-m:                     $global-xlarge-font-size;

// Card
$card-default-hover-box-shadow:                 $global-medium-box-shadow;
$card-default-box-shadow:                       $global-small-box-shadow;

// Search
$search-default-icon-width:                     $global-control-large-height;
$inverse-search-color:                          $inverse-global-color;
$inverse-search-placeholder-color:              rgba($inverse-global-color, .8);
$inverse-search-icon-color:                     $inverse-global-color;
$inverse-search-default-background:             rgba(255, 255, 255, .2);
$inverse-search-default-focus-background:       rgba(255, 255, 255, .25);

// Accordion
$accordion-item-margin-top:                     20px;
$accordion-title-font-size:                     $global-font-size;
$accordion-title-color:                         $global-primary-background;
$accordion-title-hover-color:                   $global-primary-background;
$accordion-content-margin-top:                  16px;
$accordion-icon-color:                          $global-primary-background;
$accordion-icon-background-color:               lighten( $global-primary-background, 50% );
$internal-accordion-open-image:                 "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='4 13 10 7 16 13' /%3E%3C/svg%3E";
$internal-accordion-close-image:                "data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolyline fill='none' stroke='#000' stroke-width='1.03' points='16 7 10 13 4 7' /%3E%3C/svg%3E";

// Changelog
$timeline-border-width:                         4px;
$timeline-dot-diameter:                         20px;

// Label
$label-font-size:                               0.75rem;
