<div class="uk-section{% if include.section %} uk-section-{{ include.section }}{% endif %}">
  <div class="uk-container{{container}}">
    {% for section in site.data.home_categories %}
      <div{% if forloop.index > 1 %} class="uk-margin-large-top"{% endif %}>
        {% if section.title %}
          <h2{% if section.category %} id="{{ section.category }}"{% endif %} class="uk-text-center uk-margin-remove">{{ section.title }}</h2>
        {% endif %}
        {% if section.subtitle %}
          <p class="uk-text-muted uk-text-center uk-text-lead uk-margin-small-top">{{ section.subtitle | escape }}</p>
        {% endif %}
      </div>
      {% if section.categories %}
        <div class="uk-child-width-1-2@m uk-grid-match uk-grid-small{% if section.title %} uk-margin-medium-top{% endif %}" data-uk-grid>
          {% for item in section.categories %}
            <div>
				      <div class="uk-card uk-card uk-card-default uk-card-hover uk-card-body uk-inline uk-border-rounded">
                <a class="uk-position-cover" href="{{ item.permalink | relative_url }}" aria-label="{{ item.title }}"></a>
                <div class="uk-grid-small" data-uk-grid>
                  <div class="uk-width-auto uk-text-primary uk-flex uk-flex-middle">
                    {% if item.icon %}
                      <span data-uk-icon="icon: {{ item.icon }}; ratio: 2.6"></span>
                    {% endif %}
                  </div>
                  <div class="uk-width-expand">
                    <h3 class="uk-card-title uk-margin-remove uk-text-primary">{{ item.title }}</h3>
                    {% if item.desc %}
                      <p class="uk-text-muted uk-margin-remove">{{ item.desc }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>