{% if page.header.color %}
  {% assign header_color = page.header.color %}
{% else %}
  {% assign header_color = site.header.color %}
{% endif %}
<nav class="uk-navbar-container{% if header_color == 'light' %} uk-light{% endif %}">
	<div class="uk-container">
		<div data-uk-navbar>
			<div class="uk-navbar-left">
				<a class="uk-navbar-item uk-logo uk-visible@m" href="{{ "/" | relative_url }}">{% if site.logo %}<img
						src="{{ site.uploads | absolute_url }}{{ site.logo }}"
						alt="{{ site.title | escape }}">{% else %}{{ site.title | escape }}{% endif %}</a>
				{% if site.data.translation[site.lang].mobile_nav_catgories %}
				<a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-posts" data-uk-toggle><span
						data-uk-navbar-toggle-icon></span> <span
						class="uk-margin-small-left">{{ site.data.translation[site.lang].mobile_nav_catgories }}</span></a>
				{% else %}
				<a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas-posts" data-uk-navbar-toggle-icon
					data-uk-toggle></a>
				{% endif %}

				<ul class="uk-navbar-nav uk-visible@m">
					{% for link in site.data.navigation_header.left %}
					{% if link.url contains 'http' %}
					{% assign domain = '' %}
					{% else %}
					{% assign domain = '' | relative_url %}
					{% endif %}
					{% if link.url == page.url %}
					{% assign current = ' class="uk-active"' %}
					{% else %}
					{% assign current = null %}
					{% endif %}
					{% if link.title %}
					{% if link.button %}
					<li>
						<div class="uk-navbar-item"><a class="uk-button uk-button-{{ link.button }}"
								href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"
								{% endif %}>{{ link.title }}</a></div>
					</li>
					{% else %}
					{% if link.url %}
					<li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"
							{% endif %}>{{ link.title }}</a></li>
						{% else %}
						<li><a href="#">{{ link.title }}</a>
							{% if link.dropdown != null %}
							<div class="uk-navbar-dropdown">
								<ul class="uk-nav uk-navbar-dropdown-nav">
									{% for child in link.dropdown %}
									{% if child.url != null %}
									{% if child.url contains 'http' %}
									{% assign domain = '' %}
									{% else %}
									{% assign domain = '' | relative_url %}
									{% endif %}
									{% if child.url == page.url %}
									{% assign current = ' class="uk-active"' %}
									{% else %}
									{% assign current = null %}
									{% endif %}
									<li{{ current }}><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
						{% else %}
						<li class="uk-nav-header">{{ child.title }}</li>
						{% endif %}
						{% endfor %}
				</ul>
			</div>
			{% endif %}
			</li>
			{% endif %}
			{% endif %}
			{% endif %}
			{% endfor %}
			</ul>
		</div>
		<div class="uk-navbar-center uk-hidden@m">
			<a class="uk-navbar-item uk-logo" href="{{ "/" | relative_url }}">{% if site.logo %}<img
					src="{{ site.uploads | absolute_url }}{{ site.logo }}"
					alt="{{ site.title | escape }}">{% else %}{{ site.title | escape }}{% endif %}</a>
		</div>
		<div class="uk-navbar-right">
			<ul class="uk-navbar-nav uk-visible@m">
				{% for link in site.data.navigation_header.right %}
				{% if link.url contains 'http' %}
				{% assign domain = '' %}
				{% else %}
				{% assign domain = '' | relative_url %}
				{% endif %}
				{% if link.url == page.url %}
				{% assign current = ' class="uk-active"' %}
				{% else %}
				{% assign current = null %}
				{% endif %}
				{% if link.title %}
				{% if link.button %}
				<li>
					<div class="uk-navbar-item"><a class="uk-button uk-button-{{ link.button }}"
							href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"
							{% endif %}>{{ link.title }}</a></div>
				</li>
				{% else %}
				{% if link.url %}
				<li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"
						{% endif %}>{{ link.title }}</a></li>
					{% else %}
					<li><a href="#">{{ link.title }}</a>
						{% if link.dropdown != null %}
						<div class="uk-navbar-dropdown">
							<ul class="uk-nav uk-navbar-dropdown-nav">
								{% for child in link.dropdown %}
								{% if child.url != null %}
								{% if child.url contains 'http' %}
								{% assign domain = '' %}
								{% else %}
								{% assign domain = '' | relative_url %}
								{% endif %}
								{% if child.url == page.url %}
								{% assign current = ' class="uk-active"' %}
								{% else %}
								{% assign current = null %}
								{% endif %}
								<li{{ current }}><a href="{{ domain }}{{ child.url }}">{{ child.title }}</a></li>
					{% else %}
					<li class="uk-nav-header">{{ child.title }}</li>
					{% endif %}
					{% endfor %}
			</ul>
		</div>
		{% endif %}
		</li>
		{% endif %}
		{% endif %}
		{% endif %}
		{% endfor %}
		</ul>

		{% if site.data.translation[site.lang].mobile_nav_site %}
		<a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-toggle><span
				data-uk-navbar-toggle-icon></span> <span
				class="uk-margin-small-left">{{ site.data.translation[site.lang].mobile_nav_site }}</span></a>
		{% else %}
		<a class="uk-navbar-toggle uk-hidden@m" href="#offcanvas" data-uk-navbar-toggle-icon data-uk-toggle></a>
		{% endif %}

	</div>
	</div>
	</div>
</nav>