<div id="offcanvas-posts" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" data-uk-close></button>

        {% for section in site.data.home_categories %}
        <h5 class="uk-margin-top">{{ section.title }}</h5>
        <ul class="uk-nav uk-nav-default post-nav">
        {% for item in section.categories %}
          <li class="{% if page.url contains item.permalink %}uk-active{% endif %}"><a href="{{ item.permalink | relative_url }}">{{ item.title }}</a></li>
        {% endfor %}
        </ul>
        {% endfor %}

    </div>
</div>
