{% assign items = site.articles | where: 'layout', 'article' %}

{% if items.size > 1 %}
{% for item in items %}
{% if item.title == page.title %}
{% assign item_index = forloop.index %}
{% endif %}
{% endfor %}

{% assign prev_index = item_index | plus: 1 %}
{% assign next_index = item_index | minus: 1 %}

{% for item in items %}
{% if forloop.index == prev_index %}
{% assign prev = item %}
{% endif %}
{% if forloop.index == next_index %}
{% assign next = item %}
{% endif %}
{% endfor %}

<p style="text-align: center;">
  {% if prev %}
  <a href="{{ prev.url | prepend: site.baseurl }}" class="prev" title="{{ prev.title }}">&lt; Prev</a>
  {% endif %}
  {% if prev and next %}
  <span> | </span>
  {% endif %}
  {% if next %}
  <a href="{{ next.url | prepend: site.baseurl }}" class="next" title="{{ next.title }}">Next &gt;</a>
  {% endif %}
</p>
{% endif %}