{% if page.author %}
  {% assign author = site.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if author.avatar %}
  {% if author.avatar contains 'http' %}
      {% assign domain = '' %}
  {% else %}
      {% assign domain = site.uploads | absolute_url %}
  {% endif %}
  <img class="uk-border-circle uk-avatar-small" data-src="{{ domain }}{{ author.avatar }}" src="{{ domain }}{{ author.avatar }}" alt="{{ author.name }}" data-uk-img>
{% endif %}

<div>
  {% if author.name %}
    {{ site.data.translation[site.lang].written_by | default: "Written by" }} {{ author.name }}<br>
  {% endif %}
  <time datetime="{{ page.date | date_to_xmlschema }}">
    {% assign date_format = site.date_format | default: "%b %-d, %Y" %}
    {{ page.date | date: date_format }}
  </time>
</div>