---
layout: default
---

{% if page.width == 'expand' %}
{{ content }}
{% else %}
<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-background-default uk-border-rounded uk-box-shadow-small">
      <div class="uk-container uk-container-xsmall uk-padding-large">
        <article class="uk-article">
          <h1 class="uk-article-title">{{ page.title | escape }}</h1>
          <div class="uk-article-content">
            {{ content }}
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
{% endif %}

