---
layout: default
---

<div class="uk-section uk-section-muted">
  <div class="uk-container">
   {%- include breadcrumbs.html -%}
    <div class="uk-background-default uk-border-rounded uk-box-shadow-small">
      <div class="uk-container uk-container-xsmall uk-padding-large">
        <article class="uk-article">
          <h1 class="uk-article-title">{{ page.title | escape }}</h1>
          <div class="uk-article-meta uk-margin uk-flex uk-flex-middle">
            {% include post-meta.html %}
          </div>
          {% if page.subtitle %}
            <p class="uk-text-lead uk-text-muted">{{ page.subtitle }}</p>
          {% endif %}
          <div class="uk-article-content">
            {{ content }}
            {% if site.share.post %}
              {% include share.html %}
            {% endif %}
          </div>
          {% include paginate-post.html %}
          {% include related-posts.html %}
          {% if site.disqus.shortname %}
            {% include disqus_comments.html %}
          {% endif %}
        </article>
        <script>
          // Table of contents scroll to
          UIkit.scroll('#markdown-toc a', {
            duration: 400,
            offset: 40
          });
        </script>
      </div>
    </div>
  </div>
</div>
